$background-color: rgb(255, 255, 255);
$acent: rgb(32, 32, 32);
$border-color: rgb(94, 94, 94);

body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;

}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
}

main {
    max-width: 80%;
    margin: 0 auto;
}

a {
    color: $acent;

    &:hover {
        // color: color.scale(#036, $lightness: 30%);
    }
}

input[type=submit] {
    padding: 0.2em 0.5em;
}