body {
  padding: 0px;
  margin: 0px;
  background-color: rgb(228, 228, 228);
  font-size: 20px;
  font-family: Tahoma, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.login {
  /* centers element */
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.login {
  width: 20rem;
  background-color: rgb(255, 255, 255);
  padding: 20px 20px 20px 20px;
  border-radius: 4px;
}

td {
  padding-top: 5px;
}

.login input {
  max-width: 100%;
}

input[type=txt] {
  height: 1.9em;
  padding: 3px 2px;
}

input[type=submit] {
  margin: 0;
  padding: 4px 8px;
}

a {
  font-size: 14px;
  color: rgb(32, 32, 32);
}

.alert {
  font-size: 14px;
}